* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2em;
    margin-top: 2em;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}